@(markets:List[Market])
@main("Everrything | Home"){
<div id="top-banner-and-menu" class="homepage2">
    <div class="col-xs-12" style="padding:0">
            <!-- ========================================== SECTION – HERO ========================================= -->
        <div id="hero">
            <div id="owl-main" style="max-height: 400px" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

                <div class="item"  style="max-height: 350px;background-image: url(@routes.Assets.at("assets/images/product.jpg"))">
                    <div class="container-fluid">
                        <div class="caption vertical-center text-left right" style="padding-left:7%;">
                            <div class="big-text fadeInDown-1">
                                            Save up to a<span class="big"><span class="sign">$</span>400</span>
                                        </div>

                            <div class="excerpt fadeInDown-2">
                                            on selected laptops<br>
                                    &amp; desktop pcs or<br>
                                smartphones
                                        </div>
                            <div class="small fadeInDown-2">
                                            terms and conditions apply
                            </div>
                            <div class="button-holder fadeInDown-3">
                                <a href="single-product.html" class="big le-button ">shop now</a>
                            </div>
                        </div><!-- /.caption -->
                    </div><!-- /.container-fluid -->
                </div><!-- /.item -->

                <div class="item" style="max-height:350px;background-image: url(@routes.Assets.at("assets/images/simba.jpg"))">
                    <div class="container-fluid">
                        <div class="caption vertical-center text-left left" style="padding-left:7%;">
                            <div class="big-text fadeInDown-1">
                                            Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                        </div>

                            <div class="excerpt fadeInDown-2">
                                            on desktop pcs
                            </div>
                            <div class="small fadeInDown-2">
                                            terms and conditions apply
                            </div>
                            <div class="button-holder fadeInDown-3">
                                <a href="single-product.html" class="big le-button ">shop now</a>
                            </div>
                        </div><!-- /.caption -->
                    </div><!-- /.container-fluid -->
                </div><!-- /.item -->

            </div><!-- /.owl-carousel -->
        </div>
            <!-- ========================================= SECTION – HERO : END ========================================= -->
    </div>
</div>
    <!-- /.homepage2 -->

    <!-- ========================================= HOME BANNERS ========================================= -->
<section id="banner-holder" class="wow fadeInUp">
    <div class="container">
        <div class="col-xs-12 col-lg-6 no-margin banner">
            <a href="search-2">
                <div class="banner-text theblue">
                    <h1>Advertise with us</h1>
                </div>
                <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="assets/images/banners/banner-narrow-01.jpg" />
            </a>
        </div>
        <div class="col-xs-12 col-lg-6 no-margin text-right banner">
            <a href="search-2">
                <div class="banner-text right">
                    <h1>Advertise with us</h1>
                </div>
                <img class="banner-image" alt="" src="assets/images/blank.gif" data-echo="assets/images/banners/banner-narrow-02.jpg" />
            </a>
        </div>
    </div><!-- /.container -->
</section><!-- /#banner-holder -->
    <!-- ========================================= HOME BANNERS : END ========================================= -->
<div id="products-tab" class="wow fadeInUp">
    <div class="container">
        <div class="tab-holder">
                <!-- Nav tabs -->
            <ul class="nav nav-tabs" >
                <li class="active"><a href="#markets" data-toggle="tab">Markets</a></li>
                <li><a href="#food" data-toggle="tab">Supermarkets</a></li>
            </ul>

                <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="markets">
                    <div class="product-grid-holder">
                    @for(market <-markets) {
                        <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                            <div class="product-item">
                                <div class="image">
                                    <img alt="" src="@routes.Assets.at(market.image)" data-echo="@routes.Assets.at(market.image)" />
                                </div>
                                <div class="body">
                                    <div class="label-discount clear"></div>
                                    <div class="title">
                                        <a href="single-product.html">@market.name</a>
                                    </div>
                                    <div class="brand">open</div>
                                </div>
                                <div class="prices">
                                        <!-- hours that a shop is open -->
                                    <div class="price-prev" style="color: #000">@market.openAt</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                                    <div class="price-current pull-right">@market.closeAt</div>
                                </div>
                                <div class="hover-area">
                                    <div class="add-cart-button">
                                        <a href="@routes.MarketController.MarketShops(market.id)" class="le-button">Visit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    </div>
                    <div class="row">

                    </div>


                </div>
                <div class="tab-pane" id="food">
                    <div class="product-grid-holder">
@for(superm <-DirectTools.allMarket()) {
    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
        <div class="product-item">
            <div class="image">
                <img alt="" src="@routes.Assets.at(superm.image)" data-echo="@routes.Assets.at(superm.image)" />
            </div>
            <div class="body">
                <div class="label-discount clear"></div>
                <div class="title">
                    <a href="single-product.html">@superm.name</a>
                </div>
                <div class="brand">open</div>
            </div>
            <div class="prices">
                    <!-- hours that a shop is open -->
                <div class="price-prev" style="color: #000">@superm.openAt</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
                <div class="price-current pull-right">@superm.closeAt</div>
            </div>
            <div class="hover-area">
                <div class="add-cart-button">
                    <a href="@routes.SuperMarketController.front_superMarket(superm.id)" class="le-button">Visit</a>
                </div>
            </div>
        </div>
    </div>

}

                    </div>
                    @*<div class="row">*@
                        @*<div class="loadmore-holder text-center">*@
                            @*<a class="btn-loadmore" href="#">*@
                                @*<i class="fa fa-plus"></i>*@
                                @*load more Supermarkets</a>*@
                        @*</div>*@
                    @*</div>*@


                </div>


            </div>
        </div>
    </div>
</div>
    <!-- ========================================= BEST SELLERS ========================================= -->
<section id="bestsellers" class="color-bg wow fadeInUp">
    <div class="container">
        <h1 class="section-title">new products</h1>

        <div class="product-grid-holder medium">
            <div class="col-xs-12 col-md-12 no-margin">

                <div class="row no-margin">
                    @for(prod <-DirectTools.newproduct()) {
                        <div class="col-xs-12 col-sm-4 no-margin product-item-holder size-medium hover">
                            <div class="product-item">
                                <div class="image">
                                    <img alt="" src="@routes.Assets.at(DirectTools.image(prod.id).image)" data-echo="@routes.Assets.at(DirectTools.image(prod.id).image)" />
                                </div>
                                <div class="body">
                                    <div class="label-discount clear"></div>
                                    <div class="title">
                                        <a href="single-product.html">@prod.name</a>
                                    </div>
                                    <div class="brand">@prod.shop.name</div>
                                </div>
                                <div class="prices">

                                    <div class="price-current text-right">@prod.price</div>
                                </div>
                                <div class="hover-area">
                                    <div class="add-cart-button">
                                        <a href="@routes.OrdersController.costomer_order(prod.id)" class="le-button">Add to cart</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /.product-item-holder -->
                            <!-- /.product-item-holder -->
                    }

                </div><!-- /.row -->
            </div><!-- /.col -->

        </div><!-- /.product-grid-holder -->
    </div><!-- /.container -->
</section><!-- /#bestsellers -->
    <!-- ========================================= BEST SELLERS : END ========================================= -->
    <!-- ============================================================= FOOTER ============================================================= -->

}