


@(product:List[ProductOrder])
@main("Everything | purchase history"){

    <section id="cart-page">

        <div style="padding: 20px; background: rgba(0,0,0,.05);text-align: center" class="col-xs-12">
            <a href="@routes.OrdersController.cart()" class="le-button medium"><i class="fa fa-shopping-cart"></i> Cart</a>
            @if(session().get("user_id") != null) {
                <a href="@routes.UserController.customer_editProfile()" class="le-button medium"><i class="fa fa-user"></i> Edit profile</a>
                <a href="@routes.UserController.passwordForm()" class="le-button medium"><i class="fa fa-lock"></i> Change password</a>
                <a href="@routes.OrdersController.history(Long.valueOf(session().get("user_id")))" class="le-button medium"><i class="fa fa-history"></i> Purchase history</a>
            }
        </div>
        <div class="container">
                <!-- ========================================= CONTENT ========================================= -->
            <div class="col-xs-12 col-md-9 items-holder no-margin">
@for(prod <-product) {
    <div class="row no-margin cart-item">
        <div class="col-xs-12 col-sm-2 no-margin">
            <a href="#" class="thumb-holder">
                <img class="lazy" alt="" src="http://placehold.it/73x73" />
            </a>
        </div>

        <div class="col-xs-12 col-sm-5 ">
            <div class="title">
                <a href="#">@prod.product.name</a>
            </div>
            <div class="brand">@prod.product.brand.name</div>
        </div>

        <div class="col-xs-12 col-sm-2 no-margin">
            <div class="price">
                            @prod.quantity
            </div>
        </div>

        <div class="col-xs-12 col-sm-2 no-margin">
            <div class="price">
                            $ @(prod.price)*(@prod.quantity)
            </div>
            <a class="close-btn" href="#"></a>
        </div>
    </div> <!-- /.cart-item -->
}

            </div>
                <!-- ========================================= CONTENT : END ========================================= -->

                <!-- ========================================= SIDEBAR ========================================= -->



                <!-- ========================================= SIDEBAR : END ========================================= -->
        </div>
    </section>
}